<div class="container">
	<div class="row">
		<div class="col l6 s12">
			<h5 class="white-text">
				Another JavaScript Framework..
			</h5>
			<p class="grey-text text-lighten-4">
				Yes. 0xc0debabe makes use of Angular JS, and other flexible frameworks and libraries to create a structured application for rapid development. It's intended to be more of a framework than most JavaScript frameworks. It includes build tools to further help speed up the development process.
			</p>
		</div>
		<div class="col l4 offset-l2 s12">
			<h5 class="white-text">
				Links
			</h5>
			<ul>

				<li><a class="grey-text text-lighten-3" href="/">Home</a></li>
				<li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
				<li><a class="grey-text text-lighten-3" href="/signup">Sign up</a></li>
				<li><a class="grey-text text-lighten-3" href="https://github.com/johnfedoruk/0xc0debabe" target="_blank">Github</a></li>
				<li><a class="grey-text text-lighten-3" href="https://wpgit.ca" target="_blank">WPG I.T.</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		© 2017 Copyright
		<a class="grey-text text-lighten-4 right" href="https://wpgit.ca" target="_blank">WPG I.T.</a>
	</div>
</div>
