<nav>
    <div class="nav-wrapper green accent-4">
        <a href="/" class="brand-logo hide-on-small-only" style="margin-left:20px;">0xc0debabe</a>
        <a href="/" class="brand-logo hide-on-med-and-up">0xc0debabe</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse waves-effect"><i style="padding-left:20px;padding-right:20px;font-size:25px;" class="fa fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
			<li><a href="/">Home</a></li>
			<li><a href="/signup">Login</a></li>
            <li><a href="/login">Sign up</a></li>
			<li><a href="https://github.com/johnfedoruk/0xc0debabe" target="_blank">Github</a></li>
			<li><a href="https://wpgit.ca" target="_blank">WPG I.T.</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <img src="http://lorempixel.com/300/200/">
            <h4 style="color:#00c853;width:100%;text-align:center;margin-top:-10px">0xc0debabe</h4>
			<li><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign up</a></li>
			<hr style="border-color:rgba(127,127,127,0.2);">
			<li><a href="https://github.com/johnfedoruk/0xc0debabe" target="_blank">Github</a></li>
			<li><a href="https://wpgit.ca" target="_blank">WPG I.T.</a></li>
        </ul>
    </div>
</nav>
 <script>
 $(".button-collapse").sideNav();
 </script>
